.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  padding: 15px 40px;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 25px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.link:hover {
  color: #ffd700;
}

.cart {
  position: relative;
}

.badge {
  position: absolute;
  top: -8px;
  right: -12px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 50%;
}